version: '3.8'

services:
  postgres:
    image: postgres:18
    env_file: 
      - stack.env
    volumes:
      - postgres-data:/var/lib/postgresql
    restart: always
    networks:
      - internal_network

  exhenbot:
    image: ghcr.io/simonsmh/exhenbot:main
    depends_on:
      - postgres
    env_file: 
      - stack.env
    volumes:
      - exhenbot-data:/app/.exhenbot
    restart: always
    networks:
      - internal_network

volumes:
  postgres-data:
  exhenbot-data:

networks:
  internal_network:
    driver: bridge
